
<div class="container-fluid mb-4">
    <div class="col-12 mb-3">
    <div class="row">
    <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-sm-12 mt-1">
        <div class="card p-4">
            <div class="element" [ngStyle]="{'border-left': '50px solid #1fa2ff'}">
            </div>
        <div class="card-body p-4"  [ngStyle]="{'color': '#1fa2ff'}">
                <h1 class="wdget-label">Products</h1>
                <h1 class="wdget-counter">4000</h1>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-sm-12 mt-1">
        <div class="card p-4">
            <div class="element" [ngStyle]="{'border-left': '50px solid #f80759'}">
            </div>
        <div class="card-body p-4" [ngStyle]="{'color': '#f80759'}">
                <h1 class="wdget-label">Locations</h1>
                <h1 class="wdget-counter">20</h1>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-sm-12 mt-1">
        <div class="card p-4">
            <div class="element" [ngStyle]="{'border-left': '50px solid #11998e'}">
            </div>
        <div class="card-body p-4" [ngStyle]="{'color': '#11998e'}">
                <h1 class="wdget-label" >Product Units</h1>
                <h1 class="wdget-counter">12000</h1>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-sm-12 mt-2">
        <div class="card p-4">
            <div class="element" [ngStyle]="{'border-left': '50px solid #fdbb2d'}">
            </div>
        <div class="card-body p-4" [ngStyle]="{'color': '#fdbb2d'}">
                <h1 class="wdget-label" >Total Orders</h1>
                <h1 class="wdget-counter">1000</h1>
        </div>
        </div>
    </div>
</div>
</div>
    <div class="col-12">
        <div class="card">
            <div class="col-12 mt-2 mb-2">
                <h2>Sell against stock</h2>
                <hr>
            </div>
            <p-chart type="bar" [data]="barchart_data"></p-chart>
        </div>
    </div>

    <div class="col-12">
    <div class="row">
        <div class="col-6 mt-3">
            <div class="card">
                <div class="col-12 mt-2 mb-2">
                    <h2>Monthly Orders</h2>
                    <hr>
                </div>
                <p-chart type="pie" [data]="pie_data"></p-chart>
            </div>
        </div>
    
        <div class="col-6 mt-3">
            <div class="card">
                <div class="col-12 mt-2 mb-2">
                    <h2>Monthly Sell and Purchase</h2>
                    <hr>
                </div>
                <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
            </div>
        </div>
    </div>
    </div>
    

   
</div>